.ButtonLegend {
    position: absolute;
    bottom: 30px;
    right: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    z-index: 3;
    padding: 15px 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}