.TimeBox {
    position: absolute;
    top: 20px;
    right: 330px;
}

.TimeBox__Title {
    fill: black;
}

.TimeBox__Time {
    font-size: 38px;
    fill: black;
    font-weight: bold;
    text-anchor: middle;
}

.TimeBox--warn .TimeBox__Time {
    fill: red;
    font-size: 46px;
}
